# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

# quando o pipeline deve ser executado?
trigger:
- main

# qual máquina o teste vai ser executado
pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
  displayName: 'Instalando o NodeJS na máquina'

- script: npm install
  displayName: 'Instalando as deps do projeto.'

- script:  npx cypress run
  displayName: 'Executando testes'
  
